:root {
  --clr-font: #fdfdfd;
  --clr-background: rgb(10, 10, 10);
  --clr-gray: gray;
  --clr-light-gray: lightgray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  color: var(--clr-font);
}

body {
  width: 100%;
  background-color: var(--clr-background);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding: 1rem 3px;
}

main {
  width: min(25rem, 100%);
  min-height: 40rem;
}

#calculator {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  background-color: rgb(20, 20, 20);
  min-height: fit-content;
  border-radius: 20px;
}

#calculator > header {
  height: 10rem;
  background-color: rgba(255, 166, 0, 0.4);
  border-radius: 20px;
  text-align: right;
  display: grid;
  gap: 3rem;
}

#calc-btn-container {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  border: 1px solid black;
}

#calc-btn-container > button {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding-block: 0.5rem;
  background-color: transparent;
  border: none;
  opacity: 0.75;
  cursor: pointer;
}

#calc-btn-container > button:where(:hover, :focus-visible) {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.1);
}

#calc-btn-container > button:not(:first-child) {
  border-left: 1px solid black;
}

@media screen and (max-width: 300px) {
  #calc-btn-container > button {
    padding: 0.2rem 0.5rem;
  }
}

#calculator > section {
  width: 100%;
  padding: clamp(5px, 1vw, 1rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

#calculator > section > div {
  width: 100%;
  display: flex;
  gap: 5px;
  justify-content: space-around;
}

#calculator > section button {
  border: none;
  outline: none;
  color: orange;
  cursor: pointer;
  width: 100px;
  aspect-ratio: 1;
  transition: 0.2s ease-out background-color, 0.2s ease-out color,
    0.2s ease-out opacity;
}

#calculator > section button:where(:hover, :focus-visible) {
  background-color: var(--clr-light-gray);
  color: black;
  opacity: 0.75;
}
